
body {
    text-align: center;
    background-color: #130c2e;
}


h1 {
    font-size: 5rem;
    color: #DBEDF3;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #614004;
    transition: color 0.3s; 
}

h1:hover {
    color: #FF6B6B; 
}


.Fart {
    background-image: url("/images/rick-and-morty-summer-fart-1becic0nls0aldgo.gif");
}

.grabe {
    background-image: url("/images/grabeba-grabe.gif");
}

.choir {
    background-image: url("/images/76Ae.gif");
}

.female {
    background-image: url("/images/200w.gif");
}

.male {
    background-image: url("/images/06-27-28-539_512.gif");
}

.baby {
    background-image: url("/images/cringe.gif");
}


.sound {
    background-color: gray;
    outline: none;
    border: 10px solid #73ad;
    border-radius: 25px;
    font-size: 5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    line-height: 5;
    color: black;
    text-shadow: 3px 0 white;
    display: inline-block;
    width: 500px;
    height: 400px;
    margin: 15px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.3s; 
}

.sound:hover {
    transform: scale(1.1); 
}
